SIM_NAME = ipsbout
SIM_ROOT = $PWD
LOG_FILE = log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

[PORTS]
    NAMES = DRIVER GRIDGEN TRANSPORT
    [[DRIVER]]
        IMPLEMENTATION = hermes_transport_driver

    [[GRIDGEN]]
        IMPLEMENTATION = hypnotoad

    [[TRANSPORT]]
        IMPLEMENTATION = hermes_transport_worker

[hermes_transport_driver]
    CLASS = driver
    SUB_CLASS =
    NAME = hermes_transport_driver
    NPROC = 1
    BIN_PATH =
    INPUT_FILES = 
    OUTPUT_FILES =
    SCRIPT =
    MODULE = ipsbout.hermes_transport_driver

[hypnotoad]
    CLASS = workers
    SUB_CLASS =
    NAME = hypnotoad_worker
    NPROC = 1
    BIN_PATH =
    OPTIONS_YAML =
    GEQDSK = lsn.geqdsk
    GRIDFILE = lsn.nc
    INPUT_FILES = ${OPTIONS_YAML} ${GEQDSK}
    OUTPUT_FILES = ${GRIDFILE}
    SCRIPT =
    MODULE = ipsbout.hypnotoad_worker

[hermes_transport_worker]
    CLASS = workers
    SUB_CLASS =
    NAME = hermes_transport_worker
    BIN_PATH = /Users/dudson2/Documents/projects/2025/FREDA/IPS/ips-hermes/hermes-3/build/hermes-3
    NPROC = 4
    GRIDFILE = lsn.nc
    INPUT_FILES = ${GRIDFILE}
    OUTPUT_FILES =
    SCRIPT =
    MODULE = ipsbout.hermes_transport_worker
