SIM_NAME = ipshermes
SIM_ROOT = $PWD
LOG_FILE = log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

[PORTS]
    NAMES = DRIVER GRIDGEN
    [[DRIVER]]
        IMPLEMENTATION = transport_driver

    [[GRIDGEN]]
        IMPLEMENTATION = hypnotoad

[transport_driver]
    CLASS = driver
    SUB_CLASS =
    NAME = transport_driver
    NPROC = 1
    BIN_PATH =
    INPUT_FILES =
    OUTPUT_FILES =
    SCRIPT =
    MODULE = ipshermes.transport_driver

[hypnotoad]
    CLASS = workers
    SUB_CLASS =
    NAME = hypnotoad_worker
    NPROC = 1
    BIN_PATH =
    OPTIONS_YAML =
    GEQDSK = lsn.geqdsk
    GRIDFILE = lsn.nc
    INPUT_FILES = ${OPTIONS_YAML} ${GEQDSK}
    OUTPUT_FILES = ${GRIDFILE}
    SCRIPT =
    MODULE = ipshermes.hypnotoad_worker
